<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        .chip {
            display: inline-block;
            margin: 2px;
        }
        .chip-remove-icon {
            cursor: pointer;
        }


    </style>
    {% block stylesheets %}{% endblock %}
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include 'includes/sidebar.twig' %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        {% include 'includes/header.twig' %}
        <!--  Header End -->
        <div class="container-fluid">
            <!--  Row 1 -->
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script src="/javascripts/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="/javascripts/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/sidebarmenu.js"></script>
<script src="/javascripts/app.min.js"></script>
{% block javascripts %}{% endblock %}



</body>

</html>