{% extends 'adminLayout.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card overflow-hidden">
                <div class="card-body pb-4 px-4 pt-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1 overflow-hidden">
                            <h5 class="fs-5 mb-0">Liste des projets</h5>
                        </div>
                        <div class="flex-shrink-0 ms-3 mt-1">
                            <a href="/admin-projects-create"  class="btn btn-primary btn-sm">Ajouter un
                                projet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for projet in projects %}
            <div class="col-sm-6 col-xl-3">
                <div class="card overflow-hidden rounded-2 shadow ">
                    <div class="position-relative">
                        <a href="javascript:void(0)"><img src="{{ projet.image }}" style="height: 227px !important;"
                                                          class="card-img-top rounded-0" alt="..."></a>
                    </div>
                    <div class="card-body pt-3 p-4">
                        <h6 class="fw-semibold fs-4">{{ projet.title }}</h6>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="list-unstyled d-flex align-items-center mb-0">
                                <li><a class="me-1 btn btn-sm btn-warning" href="/admin-projects-edit/{{ projet.id }}">modifier</a></li>
                                <li><a class="me-1 btn btn-sm btn-primary" href="javascript:void(0)">voir</a></li>
                                <li><a class="me-1 btn btn-sm btn-danger" href="#" onclick="deleteProject({{ projet.id }})">supprimer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        function deleteProject(id) {
            Swal.fire({
                title: 'Suppression ?',
                text: "Vous ne pourrez pas revenir en arrière",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#11e525',
                cancelButtonColor: '#d33',
                confirmButtonText: 'oui, supprimer le projet !',
                cancelButtonText: 'Annuler'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/admin-projects-delete/${id}`,
                        type: 'GET',
                        success: function (data) {
                            console.log(data);
                            if (data.success === true) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success',
                                ).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                });
                            }else {
                                Swal.fire(
                                    'Erreur !',
                                    'Une erreur est survenue',
                                    'error'
                                )
                            }
                        }
                    });

                }
            })
        }
    </script>

{% endblock %}


