<div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Forms</h5>
    <div class="card">
        <div class="card-body">

        </div>
    </div>

</div>


<div class="mb-3">
    <label for="titre" class="form-label">Titre</label>
    <input type="text" name="title" class="form-control" id="titre" value="{{ projet.title }}"  required>
</div>
<div class="mb-3">
    <label for="techno" class="form-label">Technologie</label>
    <input type="text" name="techno" class="form-control" id="techno" value="{{ projet.techno }}"  required>
</div>
<div class="mb-3">
    <label for="link" class="form-label">Lien vers</label>
    <input type="text" name="link" class="form-control" id="link" value="{{ projet.link }}"  required>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" cols="30" rows="10"> {{ projet.description }}</textarea>
</div>
<div class="mb-3 form-check">
    <input type="file" class="form-control-file" id="image" name="image">
    <label class="form-check-label" for="image">Image</label>
</div>